[submodule "external/sources/SDL"]
	path = external/sources/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "external/sources/glad"]
	path = external/sources/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "external/sources/glfw"]
	path = external/sources/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/sources/glm"]
	path = external/sources/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/sources/assimp"]
	path = external/sources/assimp
	url = git@github.com:assimp/assimp.git
[submodule "external/sources/-f"]
	path = external/sources/-f
	url = git@github.com:assimp/assimp.git
